/* ================= ТЁМНАЯ ТЕМА ================= */

body.dark-theme {
    /* цвет шапки и футера */
    --color-dark: #ffffff;
    /* цвет фона */
    --color-light: #141414;
    /* черный текст */
    --color-text: #fff;
    --color-heder-text: #141414;
}